/* Custom CSS by Ruy */
@media (max-width: 430px) {

    table#timecardTable,
    table#employeeListTable,
    table#leaveList,
    table#ovetimeList,
    div#profile table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .card-header.text-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #user-leave .card-header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .search-date {
        margin-bottom: 20px !important;
        text-align: center;
    }

    .card-header.text-center>span {
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 1440px) {
    .col-md-8 {
        flex: 1 !important;
        max-width: 100.666667% !important;
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 1;
        max-width: 100%;
    }
}