<div id="tpl-memo1">
    <header style="margin-bottom: 36px;padding-bottom: 10px;border-bottom: 1px solid #000;">
        <h2 style="text-align:center;margin-bottom: 26px;padding-bottom: 10px;border-bottom: 4px double #000;">INTEROFFICE DOCUMENT</h2>
        <p style="margin-bottom:0;"><strong style="display: inline-block; min-width: 74px;">Date:</strong> 2020-20-26</p>
        <p style="margin-bottom:0;"><strong style="display: inline-block; min-width: 74px;">To:</strong> Juan dela Cruz</p>
        <p style="margin-bottom:0;"><strong style="display: inline-block; min-width: 74px;">CC:</strong> John Doe</p>
        <p style="margin-bottom:0;"><strong style="display: inline-block; min-width: 74px;">From:</strong> Jane Doe</p>
        <p style="margin-bottom:0;"><strong style="display: inline-block; min-width: 74px;">Re:</strong> First Offense Violation</p>
        <p style="margin-bottom:0;"><strong style="display: inline-block; min-width: 74px;">Priority:</strong> URGENT</p>
    </header>
    <div class="memo-content">
      <p>This is a dummy memo description. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
        <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>
    </div>  
  </div>